<% title "Items" %>
<ul class="menu_tabbed"> 
	<li><%= link_to "Check-In" %></li> 
	<li><%= link_to "Check-Out"%> </li> 
	<li><%= link_to "Items", {:controller => 'items', :action => 'index'}, :class => 'selected' %></li> 
	<li><%= link_to "Packages", packages_path %></li> 
	</ul> 



<p><%= link_to "New Item", new_item_path %></p>
